body, html, #home {
	height: 100%;
}


body{
	font-family: 'Bebas Neue', cursive;
}


h1 {
	margin: 0;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	font-size: 32px;
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}

/* capa
----------------------------*/


.capa {
	text-align: center
}


/* Estrutura conteudos
--------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}
#saiba {
	background:white;
}

#saiba h2 {
	color:gray;
}

#recursos h2, h3 {
	color: white;
}


.video {
	padding: 10px 0;
}

.form-select {
	display: inline;
	background: rgba(255,255,255,0.9);
	border-radius: 2px;
	height: 6.5rem;
	line-height: 6.5rem;
	margin: 0 3rem;
	padding: 0 3rem;
	position: relative;
	width: 47.5rem;
	color: gray;
	margin-bottom: 25px;
	font-size: 58px;
  text-align: center;
}
input#goal::placeholder 
{
	color:#AAA;
  text-align: center;
}

.mx-1 {
	margin: 5px 0 10px 0 !important;
}

.form-select:focus {
  outline: 0;
  box-shadow: none !important;
}

.form-control {
	padding: 15px !important;
	font-size: 20px;
}



/* Rodapé
---------------------*/
footer {
	background: rgb(36,36,35);
	padding: 50px 0 20px 0;
	position: relative;
}
footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}

/* tipografia
----------------------------*/
h1 {
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 50px;
	color: white;	
}

h2 {
	font-size: 6rem;
	font-weight: 100;
	letter-spacing: -0.04em;
	text-align: left;
}

p {
	font-size: 1.5rem;
}

@media (max-width: 576px) {
	.new-b {
		margin: 10px 15px;
		font-size: 1em;
	}
}

@media (min-width: 576px) and (max-width: 768px) { 
	h1 {
		font-size: 3em;
	}
 }


@media (min-width: 768px) and (max-width: 992px) { 
	h1 {
		font-size: 4em;
	}
 }


@media (min-width: 992px) and (max-width: 1200px) { 
	h1 {
		font-size: 5em;
	}
}


@media (min-width: 1200px) { 
	h1 {
		font-size: 6em;
	}
}








