<div style="margin: 120px">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h2 class="text-white text-center">Obrigado!</h2> 
      <br>
      <p class="text-white fs-1">Você ajudou seu amigo Bruno a assumir o controle sobre sua vida.</p>
      <%= link_to "Início", root_path, class: 'new-b' %>
    </div>
  </div>
</div>