<div style="margin: 120px">
  <div class="row py-4">
    <div class="col">
      <h2 class="text-white">Obrigado!</h2> 
      <br>
      <h2 class="text-white">Você ajudou seu amigo Bruno a assumir o controle sobre sua vida.</h2>
      <%= link_to "Início", root_path, class: 'new-b' %>
      <%# <%= link_to "Minhas Metas", goals_path, class: 'new-b' %>
      <%# <%= link_to "Criar Nova Meta", new_goal_path, class: 'new-b' %> 
    </div>
  </div>
</div>