<div style="margin: 120px">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h1 class="text-white text-center">Obrigado!</h1> 
      <br>
      <h2 class="text-white text-center">Você ajudou seu amigo Bruno a assumir o controle sobre sua vida.</h2>
      <%= link_to "Início", root_path, class: 'new-b' %>
    </div>
  </div>
</div>