.body-image-transaction {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(transaction.png) no-repeat;
	background-attachment: fixed;
}

.body-image-transaction-new {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(transaction_page.png) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-index {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(index_page.png) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-show {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(show_page.png) no-repeat;
	background-attachment: fixed;
}

.body-image-home {
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(bg_home.png) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-weigth-goals {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(new_page.png) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-congratulations {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(congratulations.png) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}