.body-image-transaction {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("transaction.png");
	background-attachment: fixed;
}

.body-image-transaction-new {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("show_page.png");
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-index {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("bg_home.png");
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-show {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("show_page.png");
	background-attachment: fixed;
}

.body-image-home {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset-url("bg_home.png");
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-weigth-goals {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("new_page.png");
	background-attachment: fixed;
	background-size: 100%;
}

.body-image-congratulations {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("congratulations.png");
	background-attachment: fixed;
	background-size: 100%;
}