.new-b, .new-ba {
	position: relative;
	display: inline-flex;
	padding: 10px 30px;
	background: rgb(251, 80, 18);
	color: #fff !important;
	font-size: 20pt;
	text-decoration: none;
	letter-spacing: 1px;
	overflow: hidden;
	border: none;
	margin: 20px 0 20px 0;
}

.new-b:hover {
	color: rgb(199, 64, 15);
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}