.container {
     margin-top: 20px;
 }

 .container .col-lg-4 {
     display: flex;
     justify-content: center
 }

 .card-index {
     width: 300px;
     height: 300px;
     transform-style: preserve-3d;
     perspective: 500px;
     border: none;
     background-color: inherit;
 }

 .card-index .face {
     position: absolute;
     color: #111;
     width: 100%;
     height: 100%;
     overflow: hidden;
     border-radius: 15px;
     background: rgba(255, 255, 255, 0.06);
     transform-style: preserve-3d;
     transition: 0.5s;
     backface-visibility: hidden;
     border-top: 1px solid #ddd;
     border-left: 1px solid #ddd
 }

 .card-index .face.front-face,
 .card-index .face.back-face {
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center
 }

 .card-index .face.front-face .profile {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     object-fit: cover
 }

 .card-index .face.front-face .name {
     letter-spacing: 2px
 }

 .card-index .face.front-face .designation {
     font-size: 0.8rem;
     color: #111;
     letter-spacing: 0.8px
 }

 .card-index:hover .face.front-face {
     transform: rotateY(180deg)
 }

 .card-index .face.back-face {
     position: absolute;
     background: rgba(255, 255, 255, 0.02);
     transform: rotateY(180deg);
     padding: 20px 30px;
     text-align: center;
     user-select: none
 }

 .card-index .face.back-face .fa-quote-left {
     position: absolute;
     top: 25px;
     left: 25px;
     font-size: 1.2rem
 }

 .card-index .face.back-face .fa-quote-right {
     position: absolute;
     bottom: 35px;
     right: 25px;
     font-size: 1.2rem
 }

 .card-index:hover .face.back-face {
     transform: rotateY(360deg)
 }

 @media(max-width: 991.5px) {
     .col-lg-4 {
         margin-top: 40px;
         margin-bottom: 20px
     }
 }